<div class="col-xs-10" style="text-align: center;">
	<h1> ご注文ありがとうございました。</h1>
	<h4>
		準備が整い次第、ご指定いただきましたご住所へ<br>
		商品を配送させていただきます。<br>
		またのご利用をお待ちしております。<br>
		<strong style="color: gray;">CD侍　店主</strong>
	</h4>

	<h4>
		<%= link_to "買い物を続ける", products_path %>
	</h4>
</div>
